body	{
	background-color: #DEDEDE;
	margin:	0;
	padding: 0;
	font-size: 20px;
	color: gray;
}

header	{
	background-color: #005986;
	margin: auto;
	height: 100px;
	width: 1000px;
	
}

#headerLargeBox 	{
	background-color: #B6FD99;
	float: left;
	margin: 5px 0 5px 20px;
	height: 90px;
	width: 100px;
	text-align: center;
}

.headerSmallBox 	{
	background-color: #B6FD99;
	margin-top: 70px;
	margin-left: 20px;
	float: right;
	height: 30px;
	width: 200px;
	text-align: center;
}

#content	{
	margin: auto;
	height: 100%;
	width: 1000px;
}

article	{
	float: left;
}

section	{
	background-color: #FF9B9D;
	margin-top: 20px;
	height: 280px;
	width: 780px;
}

.textContainers	{
	margin-top:	15px;
	margin-left: -25px;

}

#sectionOne 	{
	height: 380px;
}

#sectionOneLarge	{
	background-color: #B6FD99;
	margin-left: -15px;
	height: 220px;
	width: 780px;
}

aside	{
	float: right;
	background-color: #FF9B9D;
	margin:	20px 0 20px 0;
	height: 980px;
	width: 200px;

}

footer	{
	clear:	both;
	background-color: #005986;
	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 20px;
	height: 110px;
	width: 100%;
	text-align: center;
}