body	{
	background-color: #DEDEDE;
	margin:	0;
	padding: 0;
	text-align: center;
	font-size: 20px;
	color: gray;
}

header	{
	background-color: #005986;
	margin: auto;
	height: 100px;
	width: 1000px;
	
}

#headerFooterBox 	{
	background-color: #B6FD99;
	float: left;
	margin: 5px 0 5px 20px;
	height: 90px;
	width: 100px;
}

.headerSmallBox 	{
	background-color: #B6FD99;
	margin-top: 70px;
	margin-left: 20px;
	float: right;
	height: 30px;
	width: 200px;
}

.content	{
	margin: auto;
	height: 100%;
	width: 1000px;
}

article	{
	float: left;
}

section	{
	background-color: #FF9B9D;
	margin-top: 20px;
	height: 280px;
	width: 780px;
}

.textContainers	{
	margin-top:	15px;
	margin-left: -25px;

}

#sectionOne 	{
	height: 380px;
}

#sectionOneLarge	{
	background-color: #B6FD99;
	margin-left: -15px;
	margin-bottom: 10px;
	height: 220px;
	width: 780px;
}

.sectionOneMedium	{
	background-color: #B6FD99;
	display: inline-block;
	margin-left: 15px;
	height: 150px;
	width: 160px;
}

#sectionOneFirstMedium 	{
	margin-left: 5px;
}

#sectionOneSmall 	{
	background-color: #B6FD99;
	float: right;
	height: 150px;
	width: 40px;
}

.sectionTallLeft 	{
	background-color: #B6FD99;
	float: left;
	height: 280px;
	width: 160px;
	margin-left: 5px;
}

#sectionTwoRight 	{
	background-color: #B6FD99;
	float: right;
	height: 180px;
	width: 580px;
	margin: 20px 0px 20px 0px;
}

#sectionTwoBottom 	{
	background-color: #B6FD99;
	float: right;
	height: 60px;
	width: 580px;
}

aside	{	
	background-color: #FF9B9D;
	float: right;
	margin:	20px 0;
	height: 980px;
	width: 200px;

}

#asideTopBox 	{
	background-color: #B6FD99;
	margin-top: -15px;
	margin-left: -15px;
	margin-bottom: 10px;
	height: 80px;
	width: 200px;
}

#asideTwoBox	{
	background-color: #B6FD99;
	margin-top: 20px;
	margin-left: -15px;
	margin-bottom: 10px;
	height: 120px;
	width: 200px;	
}

#asideThreeBox 	{
	background-color: #B6FD99;
	margin-left: -15px;
	margin-bottom: 20px;
	height: 370px;
	width: 200px;	
}

#asideFourBox	{
	background-color: #B6FD99;
	margin-left: -15px;
	margin-bottom: 20px;
	height: 360px;
	width: 200px;
}

.sectionThreeRight 	{
	background-color: #B6FD99;
	float: right;
	margin-left: 20px;
	height: 280px;
	width: 280px;
}

footer	{
	clear:	both;
	background-color: #005986;
	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 20px;
	height: 110px;
	width: 100%;
	text-align: center;
}

.footerLargerBox 	{
	background-color: #B6FD99;
	display: inline-block;
	margin-left: 15px;
	height: 100px;
	width: 200px;
}