body	{
	margin:	0;
	padding: 0;
	height: 100%;
	font-family: small arial, sans-serif;
}

#wrapper	{
	position: relative;
	min-height: 100%;
}

a 	{
	text-decoration: none;
	
}

a:hover	{
	opacity: .75;
	text-decoration: underline;
}

a:visited	{
	color: #609;
}

header	{
	height: 30px;
}


nav	{
	float: right;
	width: 355px;
}

.navLinks	{
	opacity: .85;
	color:	#000;
}

ul	{
	float: left;
	margin-right: 10px;
	text-align: right;
}

li	{
	display: inline;
	padding-left: 15px;
	list-style: none;
	font-size: 13px;
}

#headerDiv	{
	float: right;
	margin-top: 12px;
	height: 30px;
}

.listImage	{
	padding-right: 15px;
}

#headerBell	{
	margin-bottom: 4px;
	padding-right: 15px;
}

#selected	{
	opacity: .60;
}

#content {
   width: 100%;
   min-width: 940px;
   height: 450px;
   padding-bottom:40px; 
   margin: auto;
   text-align: center;
}

#sectionOneContainer	{
	margin-top: 235px;
}


#sectionTwoContainer	{
	height: 120px;
}

#sectionTwoDivOne	{
    display: inline-block;
    margin-top: 30px;
    height: 36px;
    width: 670px;
    cursor: text;
    border: 1px solid #B9B9B9;
    border-top-color: #A0A0A0;
    border-radius: .1;
}

#searchText	{
	background: transparent;
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	width: 90%;
	font-size: 16px;
	color: #BBB;
	border: none;
}

#searchMic	{
	float: right;
	margin-top: 6px;
	padding-right: 10px;
}

#searchButtonContainer	{
	padding-top: 10px;
}

.searchButton 	{
	background-color: #F2F2F2;
	margin: 11px 4px;
	height: 36px;
	line-height: 27px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: #757575;
	cursor: default;
	border: 1px solid #F2F2F2;
	border-radius: 2px;
}

#languageChoiceContainer {
	margin-top: 28px;
	margin-bottom: 24px;
	font-size: 13px;
}

.searchLanguage	{
	padding: 0 3px;
	line-height: 24px;
	color: #12C;
}

footer	{
	position: absolute;
	margin-bottom: 0;
	font-size: 10pt;
	height: 40px;
	width: 100%;
}

#footerContainer	{
	background-color: #F2F2F2;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #E4E4E4;
}

#footerLeft 	{
	float: left;
	padding-left: 25px;
	width: 50%;
}

#footerRight 	{
	float: right;
	padding-right: 10px;
	text-align: right;
}

.footerLinks {
	padding-right: 15px;
	color:	#757575;
}

